body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    margin: 0px;
    background-color: aliceblue;
}

.Calculator{
    width: 300px;
    background: none;
    border-radius: 10px;
    gap: 10px;
    
    
}

.display{
    width: 300px;
    height: 16px;
    position: absolute;
    text-align: right;
     padding: 10px;
    background-color: black;
    color: white;
    border-bottom: 2px solid rgba(75, 89, 91, );
    box-sizing: border-box;
    
}

.button{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
    justify-content: center;
    
}

.button{
    padding: 30px;
    font-size: 10px;
    border: 1px solid;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover{
    background-color: #ddd;
}


#operation{
    background: yellow;
}


@media(media-width-400px){
    .Calculator{
        width: 100px;
    }
}